* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: tomato;
}
#defaultCanvas0 {
    border: solid 1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}